[submodule "thirdparty/FreeImage"]
	path = thirdparty/FreeImage
	url = https://github.com/D-Programming-Deimos/FreeImage.git
[submodule "thirdparty/bindbc-openal"]
	path = thirdparty/bindbc-openal
	url = https://github.com/needleful/bindbc-openal.git
